<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <!--<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css' />-->
    <%= stylesheet_link_tag "estilo" %>
    <%= stylesheet_link_tag "highlight" %>
    <%= stylesheet_link_tag "influencias" %>
    <%= stylesheet_link_tag "flujonivel" %>
    <%= stylesheet_link_tag "ecuaciones" %>
    <%= stylesheet_link_tag "comportamientos" %>
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "require", :'data-main' => '/assets/main' %>       
    <%= csrf_meta_tag %>
</head>
<body>
    <div id="alerta">
        <div id="sugerencia">
            Evoluci&oacute;n Web no es compatible con su navegador de internet, 
            los siguientes navegadores son compatibles:
        </div>
        <div id="navegadores">
            <a href="https://www.google.com/intl/es/chrome/browser/" target="_blank">
                <%= image_tag("google-chrome.png") %>
            </a>
            <a href="http://www.apple.com/es/safari/" target="_blank">
                <%= image_tag("safari.png") %>
            </a>
            <a href="http://www.opera.com/download/" target="_blank">
                <%= image_tag("opera.png") %>
            </a>
            <a href="http://www.mozilla.org/es-ES/firefox/new/" target="_blank">
                <%= image_tag("mozilla-firefox.png") %>
            </a>            
        </div>
    </div>
    
</body>
