<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <!--<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css' />-->
    <%= stylesheet_link_tag "estilo" %>
    <%= stylesheet_link_tag "highlight" %>
    <%= stylesheet_link_tag "influencias" %>
    <%= stylesheet_link_tag "flujonivel" %>
    <%= stylesheet_link_tag "ecuaciones" %>
    <%= stylesheet_link_tag "comportamientos" %>
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "require", :'data-main' => '/assets/main' %>       
    <%= csrf_meta_tag %>
</head>
<body>
    <div id="alerta">
        <div id="sugerencia">
            Evoluci&oacute;n Web no es compatible con su navegador de internet, 
            los siguientes navegadores son compatibles:
        </div>
        <div id="navegadores">
            <a href="https://www.google.com/intl/es/chrome/browser/" target="_blank">
                <%= image_tag("google-chrome.png") %>
            </a>
            <a href="http://www.apple.com/es/safari/" target="_blank">
                <%= image_tag("safari.png") %>
            </a>
            <a href="http://www.opera.com/download/" target="_blank">
                <%= image_tag("opera.png") %>
            </a>
            <a href="http://www.mozilla.org/es-ES/firefox/new/" target="_blank">
                <%= image_tag("mozilla-firefox.png") %>
            </a>            
        </div>
    </div>
    
    <div id="flujonivel" class="contenedor">
        
        <div id="lenguaje-fyn" class="cont-lenguaje">
            <div id="svg-div-fyn" class="cont-svg">
                
            </div>
        </div>
    </div>
    <div id="ecuaciones" class="contenedor">
        <div id="elementos-ecu" class="cont-elementos">
            <a id='generarmt' href='#'>Modelo en lenguaje Matematico</a>
            <br />
            <br />
            <a id='generarjs' href='#'>Modelo en lenguaje JavaScript</a>
        </div>
        <div id="lenguaje-ecu" class="cont-lenguaje">
            
        </div>
    </div>
    <div id="comportamientos" class="contenedor">
        <div id="elementos-com" class="cont-elementos">
            <a id='simular' href='#'>Simular</a>
            <br />
            <br />
            <label for='ti_txt'>Tiempo inicial:</label>
            <input type='text' id='ti_txt' value='0' class='ui-widget-content'>     <br /><br />
            <label for='tf_txt'>Tiempo final:</label>
            <input type='text' id='tf_txt' value='100' class='ui-widget-content'>   <br /><br />
            <label for='dt_txt'>Paso de simulaci&oacute;n:</label>
            <input type='text' id='dt_txt' value='1' class='ui-widget-content'>     <br /><br />
            
            <div id="menu-elementos-com">
                <div>
                    <h3><a href="#">Parametros</a></h3>
                    <div id='param-com-div'>
                        
                    </div>
                </div>
                <div>
                    <h3><a href="#">Niveles</a></h3>
                    <div id='nivel-com-div'>
                        
                    </div>
                </div>
                <div>
                    <h3><a href="#">Flujos</a></h3>
                    <div id='flujo-com-div'>
                        
                    </div>
                </div>
                <div>
                    <h3><a href="#">Var. Auxiliares</a></h3>
                    <div id='vaaux-com-div'>
                        
                    </div>
                </div>
                <div>
                    <h3><a href="#">Var. Exogenas</a></h3>
                    <div id='vaexo-com-div'>
                        
                    </div>
                </div>
                <div>
                    <h3><a href="#">Retardos</a></h3>
                    <div id='retar-com-div'>
                        
                    </div>
                </div>
                <div>
                    <h3><a href="#">Multiplicadores</a></h3>
                    <div id='multi-com-div'>
                        
                    </div>
                </div>
                <div>
                    <h3><a href="#">FIS</a></h3>
                    <div id='elfis-com-div'>
                        
                    </div>
                </div>
                <div>
                    <h3><a href="#">Valores Anteriores</a></h3>
                    <div id='vaant-com-div'>
                        
                    </div>
                </div>
                <div>
                    <h3><a href="#">Submodelo</a></h3>
                    <div id='submo-com-div'>
                        
                    </div>
                </div>
            </div>
        
        </div>
        <div id="lenguaje-com" class="cont-lenguaje">
            <div id="contVisualizador">
                <div id="visualizador">
                    
                </div>
            </div>
        </div>
    </div>
    <xml id="xmldocument" style="display: none"><model></model></xml>
</body>
